<div class="container">
  <h2>Lista de Productos</h2>

  <!-- Buscador -->
  <input type="text" placeholder="Buscar producto..." [(ngModel)]="filtro" class="buscador" />
  <div class="accion">
    <button (click)="cambiarvista('madera')" class="boton btn-primary" [ngClass]="{'active':vista=='madera'}" >Almacen_madera</button>
    <button (click)="cambiarvista('textil')" class="boton btn-primary" [ngClass]="{'active':vista=='textil'}">ropa</button>
    <button (click)="cambiarvista('plantillas')" class="boton btn-primary" [ngClass]="{'active':vista=='plantillas'}">MisPlantillas</button>
    <button (click)="cambiarvista('productoventa')" class="boton btn-primary" [ngClass]="{'active':vista=='productoventa'}">
      productos en venta
    </button>
  </div>
  <!-- Tabla de productos -->
  <div class="table-responsive">
    @if(vista==='productoventa'){
    <table class="productos-table">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Costo</th>
          <th>Precio</th>
          <th>Cantidad</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        @for (producto of productos; track producto.id) {
        <tr>
          <td>{{ producto.nombre }}</td>
          <td>{{ producto.costo | currency : 'USD' }}</td>
          <td>{{ producto.precio_venta | currency : 'USD' }}</td>
          <td>{{ producto.cantidad }}</td>
          <td>
            <button (click)="verProducto(producto)">Ver</button>
            <button (click)="eliminarProducto(producto.id, producto.urlimg,'productos')">Eliminar</button>
          </td>
        </tr>
        }
      </tbody>
    </table>
    }@else if (vista==='madera') {
    <table class="productos-table">
      <thead>
        <tr>
          <th>tipo</th>
          <th>presentacion</th>
          <th>cantidad</th>
          <th>precio por</th>
          <th>proveedor</th>
          <th>acciones</th>
        </tr>
      </thead>
      <tbody>
        @for (maderau of madera; track maderau.id) {
        <tr>
          <td>{{ maderau.tipo }}</td>
          <td>{{ maderau.presentacion }}</td>
          <td>{{ maderau.cantidad_u_m + ' ' + maderau.unidad_medida }}</td>
          <td>{{ maderau.precio_unidad_medida + 'C$ por cada ' + maderau.unidad_medida }}</td>
          <td>{{ maderau.unidad }}</td>
          <td>
            <button>Aumentar</button>
            <button>Decrementar</button>
          </td>
        </tr>
        }
      </tbody>
    </table>

    }@else if (vista==='textil') {
    <h1>textil</h1>
    }@else{
    <!--_____________________ vista de platillas _____________________________________ -->
    <div class="productos-table">
      <h2>Archivos disponibles</h2>
      <table class="tabla-archivos">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Categoría</th>
            <th>Descripción</th>
            <th>Precio</th>
            <th>Descargas</th>
            <th>Acción</th>
          </tr>
        </thead>

        <tbody>
          @for (plantilla of plantillas; track $index) {
          <tr>
            <td>{{plantilla.nombre}}</td>
            <td>{{plantilla.categoria}}</td>
            <td>{{plantilla.descripcion}}</td>
            @if(plantilla.gratis){
              <td>Gratis</td>
            }@else {
              <td>{{plantilla.precio}}</td>
            }
            
            <td>{{plantilla.descargasTotales}}</td>
            <td>
              <button (click)="descargarArchivo(plantilla.urlFile)">ver</button>
              <button (click)="eliminarProducto(plantilla.id, plantilla.urlFile,'plantillas')" >x</button>
            </td>
          </tr>
          }
        </tbody>
      </table>
    </div>
    <!--_____________________ vista de platillas _____________________________________ -->
    }
  </div>
  @if (vistapro==true) {
  <div class="verproducto">
    <div class="card">
      <strong (click)="cerra()" class="cerrar">x</strong>
      <img [src]="productounico.urlimg" [alt]="productounico.nombre" />

      <div class="cards2">
        <div class="card-content">
          <h2>{{ productounico.nombre }}</h2>
          <p class="info"><span>Categoría:</span>{{ productounico.categoria }}</p>
          <p class="info"><span>Proveedor:</span> {{ productounico.proveedor }}</p>
          <p class="info"><span>Cantidad:</span> {{ productounico.cantidad }} unidades</p>
          <p class="info">
            <span>Costo:</span> <span class="costo">{{ productounico.costo }}C$</span>
          </p>
          <p class="info">
            <span>Precio Venta:</span>
            <span class="precio">{{ productounico.precio_venta }}C$</span>
          </p>
        </div>
        <div class="card-content2">
          <p class="info">
            <span>margen por unidad:</span>{{ productounico.precio_venta - productounico.costo }}C$
          </p>
          <p class="info">
            <span>procentaje de ganacia</span>
            {{
              ((productounico.precio_venta - productounico.costo) / productounico.costo) * 100
                | number : '1.1-1'
            }}%
          </p>
          <p class="info">
            <span>ganacia potencial</span>
            {{ productounico.cantidad * (productounico.precio_venta - productounico.costo) }}C$
          </p>
        </div>
      </div>
    </div>
  </div>

  }
</div>
